*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	border: none;
}

body {
	font: normal 400 1rem / 1 'Arial', sans-serif; /* 1rem = 16px (default) */
	background-color: #fbfdfd;
}

#root {
	overflow: hidden;
}
